<head>
  <meta charset="utf-8">
  <title></title>
</head>
<nav>
  <a href="/">Home</a>
  <a href="/student">Student</a>
  <a href="/class">Class</a>
  <a href="/logout" onclick="return confirm (`Are you sure wanna logout?`)">Logout</a>
</nav>
